.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container{
  margin: 10%;
}
.container-form{
  margin-bottom: 10%;
  margin-left: 10%;
  margin-right: 10%;
}
.form-control
{
  display: -webkit-flex;
  display: flexionar;
  width: 350px;
  height: 35px;
  background-color: gris claro;
  margin-bottom: 10px;
}

.form-control-comentario
{
  display: -webkit-flex;
  display: flexionar;
  width: 350px;
  height: 135px;
  background-color: gris claro;
  margin-bottom: 10px;
}

.logout
{
  position: absolute;
  right: 10px;
}
.center
{
  margin-left:auto;
  margin-right:auto;
  width:70%;
}
.boton
{
  margin-left: 10px;
}

body{
  background-image: url('fondo.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
}
